name: Sync every hour
on:
  schedule:
  - cron: '16,31,46,1 4-9 * * *'
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run Command
        run: bun run scrape-nepalstock-market.mjs

      - name: Commit and push changes
        run: |
          git config --global user.name 'Suman Shrestha'
          git config --global user.email 'summonshr@gmail.com'
          git add -A
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update data - $(date -u +"%Y-%m-%d %H:%M:%S UTC")" && git push)
